@model CalisanTakipCommon.IzinTipiVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form class="form-horizontal" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" asp-for="Ad"> İzin Tipi </label>

        <div class="col-sm-9">
            <input asp-for="Ad" type="text" id="form-field-1" placeholder="İzin Tanımı" class="col-xs-10 col-sm-5" />
            <span asp-validation-for="Ad"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" asp-for="VarsayilanGun"> İzin Günü </label>

        <div class="col-sm-9">
            <input asp-for="VarsayilanGun" type="number" min="0" max="30" id="form-field-1" placeholder="Varsayılan Gün" class="col-xs-10 col-sm-5" />
            <span asp-validation-for="VarsayilanGun"></span>
        </div>
    </div>

    <div class="space-4"></div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit" value="Create">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Kaydet
            </button>
        </div>
    </div>


</form>

@section Scripts {

<partial name="_ValidationScriptsPartial"/>
}